{% extends 'layout/root.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block script %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <script src="{% static "index.js" %}" type="module"></script>
{% endblock script %}

{% block body %}
    <h1>Dashboard TODO</h1>

    <a href="{% url 'livequiz:entercode' %}">Enter Code</a><br>
    <a href="{% url 'livequiz:create' %}">Create Game</a><br>
    <a href="{% url 'livequiz:host' %}">Host Session</a>
    
    <h3>All games</h3>
    <ol>
        {% for game in games %}
            <li><ul>
                <li>Game ID: {{ game.id }}</li>
                <li>Creator: {{ game.creator.username }}</li>
                <li>Title: {{ game.title }}</li>
                <li>Description: {{ game.description }}</li>
                <li>Date created: {{ game.date_created }}</li>
                <a href="#">Play - TODO</a>
                <a href="{% url 'livequiz:edit' game_id=game.id %}">
                    Edit Game (for creator only)
                </a>
            </ul></li><br>
        {% endfor %}
    </ol>

    <h3>All active game sessions:</h3>
    <ol>
        {% for gamesession in gamesessions %}
            <li><ul>
                <li>Game: {{ gamesession.game.title }}</li>
                <li>Code: {{ gamesession.code }}</li>
                <li>Host: {{ gamesession.host }}</li>
                <li><a href="{% url 'livequiz:play' game_code=gamesession.code %}">
                    Play
                </a></li>
                {% if gamesession.host == request.user %}
                    <form action="{% url 'livequiz:index' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="session_id" value={{ gamesession.id }}>
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </ul></li>
        {% endfor %}
    </ol>
    
{% endblock body %}