{% extends 'layout/root.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block script %}
    <link href="{% static 'livequiz/create.css' %}" rel="stylesheet">
    <script src="{% static "index.js" %}" type="module"></script>
{% endblock script %}

{% block body %}
    <div class="container">
        <section class="h2 pl-2 pt-2">
            <i class="fa fa-book fa-fw"></i>
            <span class="p-1">Dashboard</span>
        </section><hr>

        <section class="h3"><u>All Games</u></section>

        <div class="wrap">
            {% for game in games %}
                <div class="gamediv">
                    <section class="h5">
                        <wrap>{{ game.title }}</wrap>
                    </section>
                    <section class="font-weight-normal">
                        Creator: <b>{{ game.creator.username }}</b>
                    </section>
                    <section class="text-center">
                        <a href="{% url 'livequiz:edit' game_id=game.id %}">
                            <button class="btn btn-warning m-2 px-3">
                                View
                            </button>
                        </a>
                        <form action="{% url 'livequiz:host' game_id=game.id %}" class="inl" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info m-2 px-3">
                                Host
                            </button>
                        </form>
                    </section>
                </div>
            {% empty %}
                You have not created any games yet.
            {% endfor %}
        </div><hr>
        
        <section class="h3"><u>All Active Game Sessions</u></section>

        <div class="wrap">
            {% for gamesession in gamesessions %}
                <div class="gamediv heightplus">
                    <section class="font-weight-bold">
                        Game: <b>{{ gamesession.game.title }}</b>
                    </section>
                    <section class="font-weight-normal">
                        Code: <strong>{{ gamesession.code }}</strong>
                    </section>
                    <section class="font-weight-normal">
                        Host: <strong>{{ gamesession.host }}</strong>
                    </section>
                    <section class="text-center">
                        <a href="{% url 'livequiz:play' game_code=gamesession.code %}">
                            <button class="btn btn-success m-2 px-3">
                                Join
                            </button>
                        </a>
                        {% if gamesession.host == request.user %}
                            <form action="{% url 'livequiz:index' %}" method="POST" class="inl">
                                {% csrf_token %}
                                <input type="hidden" name="session_id" value={{ gamesession.id }}>
                                <button type="submit" class="btn btn-danger m-2 px-3">
                                    Delete
                                </button>
                            </form>
                        {% endif %}
                    </section>
                </div>
            {% empty %}
                <section class="h5">
                    No active session available currently.
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock body %}