{% extends 'layout/root.html' %}
{% load static %}

{% block title %}
    Game {{ game.game_id }}
{% endblock title %}

{% block script %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <script src="{% static "play_user.js" %}" type="module"></script>
    {% if admin %}
        <script src="{% static "play_admin.js" %}" type="module"></script>
    {% endif %}
{% endblock script %}

{% block body %}
    {% comment %} <h1>PLAY PAGE - TODO</h1>
    id: {{ game.id }}<br>
    game_id: {{ game.game_id }}<br>
    creator: {{ game.creator.username }}<br>
    title: {{ game.title }}<br>
    description: {{ game.description }}<br>
    time_created: {{ game.time_created }}<br>{% endcomment %}

    Total Questions: {{ total_questions }}<br>

    Players (temporary):<br>
    {% for player in players %}
        {{ player }}<br>
    {% endfor %}

    <div id="gamecode">
        Code: {{ gamesession.code }}
    </div><br>

    <a href="{% url 'livequiz:index' %}">Back Home</a><br>

    <input type="hidden" name="gamecode" value={{ gamesession.code }}>
    <input type="hidden" name="status" value="prep">

    Play zone
    <section id="playzone">
        Not Started
    </section>
    <section id="message">
    </section>

    {% if admin %}
        <section id="admincontrol">
            <button id="start">Start</button>
            <button id="close">Close</button>
            <button id="next">Next</button>
        </section>
    {% endif %}

{% endblock body %}