{% extends 'layout/root.html' %}

{% block title %}
    Game {{ game.game_id }}
{% endblock title %}

{% block script %}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

{% endblock script %}

{% block body %}
    <h1>PLAY PAGE - TODO</h1>
    id: {{ game.id }}<br>
    game_id: {{ game.game_id }}<br>
    creator: {{ game.creator.username }}<br>
    title: {{ game.title }}<br>
    description: {{ game.description }}<br>
    time_created: {{ game.time_created }}<br>


    {% for question in game.questions.all %}
        <ul>
            {{ question.question }}
            <li>{{ question.choice1 }}</li>
            <li>{{ question.choice2 }}</li>
            <li>{{ question.choice3 }}</li>
            <li>{{ question.choice4 }}</li>
        </ul>
    {% endfor %}
    

    {% include "react/play.html" %}

{% endblock body %}