<div id="root"></div>
<script type="text/babel">

    function App2() {
        const [state, setState] = React.useState("view")
        const [opt1, setOpt1] = React.useState("1...")
        const [opt2, setOpt2] = React.useState("2...")
        const [opt3, setOpt3] = React.useState("3...")
        const [opt4, setOpt4] = React.useState("4...")
    
        function toogleState() {
            if (state == "view") {
                setState("edit")
            } else {
                setState("view")
            }
        }

        const questions = "{{ questions.all }}"
        console.log(questions)

        return (
            state === "view" ? (
                <div>
                    REACT HERE
                    {state}
                    
                    <h1>Hello World</h1>
                    <button onClick={toogleState}>Edit</button>
                </div>
            ) : (
                <div>
                    REACT HERE
                    <button onClick={toogleState}>Save</button>
                </div>
            )
        )
    }


    function App() {
        return (
            <div>
                <h1>HAAAA</h1>
            </div>
        )
    }

    ReactDOM.render(<App2 />, document.querySelector("#root"));
</script>